{
  "plugins": ["react"],
  "extends": ["strict", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "document": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "jest": true,
    "pit": true,
    "xit": true,
    "xdescribe": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-body-style": [2, "as-needed"],
    "camelcase": [0],
    "comma-dangle": [2, "never"],
    "global-require": 0,
    "id-blacklist": [0],
    "id-length": [2, { "min": 2, "max": 24, "properties": "never", "exceptions": ["l", "r"] }],
    "id-match": [0],
    "max-len": [2, 140],
    "newline-after-var": [0],
    "no-magic-numbers": [2, { "ignoreArrayIndexes": true, "ignore": [-1, 0, 1, 2] }],
    "template-curly-spacing": [2, "never"]
  }
}
